{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <div class="search-container">
              <form action="/search/" method="post">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
            <div class="by_price">
              <form action="/by_price/" method="post">
                <input type="number" placeholder="Enter min. price" name="min">
                <input type="number" placeholder="Enter max. price" name="max">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
            <div class="by_rating">
              <form action="/by_rating/" method="post">
                <input type="number" placeholder="Enter min. rating" name="min">
                <input type="number" placeholder="Enter max. rating" name="max">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
        <a href="/publish/">Подать объявление</a>
    </div>
</body>
</html>
{{ end }}